/* *{
    opacity: 0;
} */
html, body{
    min-height: 100vh;
}
body{
    background: linear-gradient(to bottom, #000, navy);
    color: #fff;
}
main{
    padding: 10px 10px 120px;
}
main h1{
    margin: 0 0 20px;
}

.board{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1 / 1;
}
.board > div{
    border: 1px solid rgba(255, 255, 255, .25);
    
}
.board > div.sign{
    background: #fff;
}
.qq{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.qq > div + div{
    margin-left: 10px;
}
.qq .board{
    width: 100px;
}

.aa{
    margin: 0 0 10px;
}
.aa .board{
    width: 100%;
}

.a-board > div.active{
    background: darkslateblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-board > div.moved{
    background: #fff;
    border: 3px solid #f00;

}
.a-board > div[data-dir]:not([data-dir=""]):after{
    content: '⬆';
    font-size: 8vw;
    /* transition: transform .5s; */
}
.a-board > div[data-dir="up"]:after{
    transform: rotate(0);
}
.a-board > div[data-dir="right"]:after{
    transform: rotate(90deg);
}
.a-board > div[data-dir="down"]:after{
    transform: rotate(180deg);
}
.a-board > div[data-dir="left"]:after{
    transform: rotate(270deg);
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    background: #fff;
}

.step-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 0 10px;
    padding: 0 10px;
    color: #000;
}
.step-list li{
    width: 100%;
    height: 30px;
}
.step-list li + li{
    margin-left: 10px;
}
.step-list li input{
    display: none;
}
.step-list li input + strong{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 4px;
    cursor: pointer;
}
.step-list li input:checked + strong{
    background: #000;
    color: #fff;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns button{
    width: 100px;
    height: 40px;
    border-radius: 12px;
    background: #000;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
}