/* *{
    opacity: 0;
} */
body{
    background: linear-gradient(to bottom, #000, navy);
    color: #fff;
}
header{
    background: #fff;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(255, 255, 255, .8);
}
header h1{
    height: 100%;
    margin: 0;
    color: #000;
}
main{
    padding: 50px 10px 10px;
}
main h3{
    margin: 0 0 10px;
}
.step-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 0 10px;
    padding: 0 10px;
}
.step-list li{
    width: 100%;
    height: 30px;
}
.step-list li + li{
    margin-left: 10px;
}
.step-list li input{
    display: none;
}
.step-list li input + strong{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}
.step-list li input:checked + strong{
    background: #fff;
    color: #000;
}
.board{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1 / 1;
}
.board > div{
    border: 1px solid #888;
    
}
.board > div.sign{
    background: red;
}
.qq{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.qq > div + div{
    margin-left: 10px;
}
.qq .board{
    width: 100px;
}

.aa{
    margin: 0 0 10px;
}
.aa .board{
    width: 100%;
}

.a-board > div.active{
    background: blue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-board > div[data-dir]:not([data-dir=""]):after{
    content: '⬆';
    font-size: 8vw;
    /* transition: transform .5s; */
}
.a-board > div[data-dir="up"]:after{
    transform: rotate(0);
}
.a-board > div[data-dir="right"]:after{
    transform: rotate(90deg);
}
.a-board > div[data-dir="down"]:after{
    transform: rotate(180deg);
}
.a-board > div[data-dir="left"]:after{
    transform: rotate(270deg);
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns button{
    width: 160px;
    height: 60px;
    border-radius: 12px;
    background: #fff;
    color: #000;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}